         .triage{width: 99%;
			    height: 100px;
			    margin: auto;
                border: 2px solid black;
                background-color: #d4f7ff;
                }

        .triage h2{font-family: arial;
		             font-weight: bolder;
		               font-size: 40px;
                      padding-bottom: 10px;
                      padding-left: 20px;
                      text-align: left;
		           }   
		.triage h2 .top {width: 180px;
		              height: 70px;
		              border: 1px solid black;
		              margin-left: 200px;
		              margin-top: -65px;
                      background-color: white;
		              }
		     .top i{margin-left: 10px; 
		            margin-top: 10px;
		            }  
		    #icon1 {margin: 10px;
		             float: left;} 
		    #icon2 {float: right;
		            margin-right: 20px;
		            margin-top: 10px;} 

	.priority2{width: 30%;
	           height: 600px;
	           margin: 10px;
	           float: left;
	           border: 2px solid black;}

	.left1,.left2,.left3,.left4,.left5 
	        {width: 90%;
	        height: 70px;
	        border: 2px solid black;
	        margin: auto;
	        margin-top: 40px;} 

   .priority2 div:hover{background-color: yellow;}
   .priority1 div:hover{background-color: yellow;}
   .priority3 div:hover{background-color: yellow;}

	 #bed1,#bed2,#bed3,#bed4,#bed5 {width: 25px;
	                height: 40px;
	                border:  none;
	                background-color: lightgreen;
	                margin-top: 15px;
	                margin-left: 20px;
	                border-radius: 5px;} 

            .priority2 i{float: right;
                         margin-top: -30px;
                         margin-right: 160px;
                         font-size: 30px;
                        }
             .priority2 h2{float: right;
                           font-size: 30px;
                           margin-top: -40px;
                           margin-right: 15px;}           

     



	                                      
	.middle h3 {width: 35%;
	           height: 190px;
	           margin: 10px;
	           margin-left: 5px;
	           margin-right: 15px;
	           margin-bottom:10px ;
               font-size: 35px;
               font-weight: bolder;
               text-align: center;
               font-family: verdana;
               padding-top: 100px;
	           float: left;
	           border: 2px solid black;}


	.priority1 {width: 35%;
	           height: 287px;
	           margin: 10px;
	           margin-left: 5px;
	           margin-right: 15px;
	          float: left;
	           border: 2px solid black;
	           clear: right;}  

	.center1, .center2 {width: 90%;
	        height: 70px;
	        border: 2px solid black;
	        margin: auto;
	        margin-top: 45px;}

	    #bed6,#bed7 {width: 25px;
	                height: 40px;
	                border:  none;
	                background-color: lightgreen;
	                margin-top: 15px;
	                margin-right: 20px;
	                border-radius: 5px ;
	                float: right;}  

	.priority1 i{font-size: 30px;
	   margin-left: 200px;}
	                       
                   


 
    .priority3{width: 31%;
	           height: 598px;
	           margin-top: -302px;
	           float: right;
	           border: 2px solid black;}

	           
    .right1,.right2,.right3,.right4,.right5,.right6,.right7{width: 90%;
	        height: 70px;
	        border: 2px solid black;
	        margin: auto;
	        margin-top: 10px;}


	  #bed8 ,#bed9,#bed10,#bed11,#bed12,#bed13,#bed14 
	                {width: 25px;
	                height: 40px;
	                border:  none;
	                background-color: lightgreen;
	                margin-top: 15px;
	                margin-right: 20px;
	                border-radius: 5px ;
	                float: right;}            

     .priority3 i{font-size: 30px;
	              margin-left: 160px;
	              clear: both;}



       h2{font-size: 30px;
         margin-left: 15px;
         font-weight: bolder;
         margin-top: 18px;}

    


	

    	

	



        